.form-group {
	margin-bottom: 21px;
	&.has-error {
		input {
			border-color: #DC4D41;
		    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #DC4D41;
		}
	}
	label {
		display: block;
		font-size: 14px;
		color: #4b4b4b;
		margin-bottom: 4px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		display: block;
		width: 100%;
		height: 31px;
		border: 1px solid #DFDFE0;
		font-family: 'Open Sans', sans-serif;
		border-radius: 2px;
		color: #797979;
		padding: 0 9px;
	}
	.error-text {
		font-size: 13px;
		color: #DC4D41;
	}
}